<section id="hero">
    <h1>Buena Comida, <br> Buena Vida</h1>
</section>
<section id="recipes" class="my-5">
    <div class="section-title text-center my-5">
        <h1 class="font-weight-bold">Recetas sencillas y sabrosas</h1>
        <span>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqut enim ad minim</span>
    </div>
    <app-recetas [limit]="3"></app-recetas>
</section>
<section class="my-5">
    <div class="d-flex align-items-center">
        <div>
            <div class="col-10">
                <h1 class="font-weight-bold">Todo el mundo puede ser chef en su propia cocina!</h1>
                <span>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqut enim ad minim</span>
            </div>
        </div>
        <div>
            <div class="chef-card">
                <div class="box"></div>
                <img class="food-img" id="chef" src="assets/chef.svg">
                <img class="food-img-animated" id="lettuce" src="assets/lettuce.svg">
                <img class="food-img-animated" id="onion" src="assets/onion.svg">
                <img class="food-img-animated" id="beef" src="assets/beef.svg">
                <img class="food-img-animated" id="tomato" src="assets/tomato.svg">
            </div>
        </div>
    </div>
</section>
<section class="text-center my-5">
    <div class="card-contact">
        <h1 class="font-weight-bold my-4">Delicias a tu bandeja de entrada</h1>
        <span class="mb-5 w-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam aliquam eaque dolorum
            amet, in repellat ad esse ipsa qui iste! Natus quisquam inventore dignissimos ipsam deleniti incidunt vitae
            modi excepturi!</span>
        <div class="input-wrapper my-5">
            <input type="email" class="contact-input" placeholder="Tu correo electronico..." name="" id="">
            <button type="submit" class="btn btn-primary contact-button">Suscribirse</button>
        </div>
        <div class="images-form">
            <img class="images-form-salad" src="assets/salad.svg">
            <img class="images-form-plate" src="assets/plate.svg">
        </div>
    </div>
</section>