<p>
    <a class="btn btn-dark" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1" data-target="#multiCollapseExample1"><i class="bi bi-egg-fried"></i> Como hacer una pastafrola</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse"
        aria-expanded="false" aria-controls="multiCollapseExample2" data-target="#multiCollapseExample2"><i class="bi bi-egg-fried"></i> Como hacer un bizcocho de naranja</button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
        aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <h1><i class="bi bi-egg-fried"></i> Como hacer la pastafrola</h1>
                <div class="row">
                    <div class="col">
                        <ol>
                            <li>
                                Lo primero que vamos a hacer es poner en un bol la manteca cortada en cubitos. Que no
                                esté super
                                fría ni muy derretida. La vamos a batir con el azúcar hasta que se forme una crema
                                clarita y
                                bien lisa.
                            </li>
                            <li>
                                Ahora vamos a sumar el huevo y la yema, la esencia de vainilla y la ralladura de limón,
                                y
                                volvemos a batir. No se asusten si al principio parece que la mezcla se “corta”, es
                                hasta que
                                las yemas se integren bien con la manteca.
                            </li>
                            <li>
                                Cuando la preparación esté unida y lisa de nuevo, vamos a dejar de lado la batidora y
                                agarrar
                                una espátula. Agregamos el harina leudante y la vamos incorporando con la espátula hasta
                                que se
                                pueda mezclar con las manos. La idea es integrar la masa, no amasarla como un pan! Una
                                vez que
                                esté bien unida, la ponemos en un film y la llevamos a la heladera 30 minutos.
                            </li>
                            <li>
                                Mientras vamos con el relleno de pasta frola: cortamos el dulce (o los dulces en mi
                                caso) en
                                cubitos, lo ponemos en un bol, agregamos una cucharada de agua aproximadamente y lo
                                llevamos al
                                microondas un minuto a potencia media para derretirlo. Cuando sale, lo aplastamos con un
                                tenedor
                                o un pisapapas. Tengamos cuidado en esta parte, porque el dulce de membrillo se calienta
                                y quema
                                mucho!
                            </li>
                            <li>
                                Sacamos la masa de la heladera y vamos a armar la base en un molde con la técnica de los
                                capos
                                n°1, aplastándola con el puño y un film. (en el video se ve clarísimo). Acomodamos los
                                bordes y
                                rellenamos la pasta frola con los dulces de membrillo y batata derretidos.
                            </li>
                            <li>
                                Ahora viene la magia de la técnica de los capos n°3: la decoración. Ponemos la masa
                                entre dos
                                films, la estiramos y la mandamos al congelador. Sacamos el film de arriba y cortamos
                                con una
                                cuchilla las tiras, prestado atención de cortar el film de abajo también. Después
                                levantamos
                                desde el film la tira y la ponemos directamente sobre el relleno, cuando esté bien
                                acomodada,
                                sacamos el film y listo!
                            </li>
                            <li>
                                La llevamos al horno a 200° por unos 40 minutos o hasta que esté doradita.
                            </li>
                        </ol>
                    </div>
                    <div class="col">
                        <img class="card-img-top mt-5" src="./../../../../assets/pastafrola.png" alt="Card image cap">
                        <iframe width="500" height="315"
                            src="https://www.youtube.com/embed/NfX-AHIyiBM?si=pA18fen5shfBFLfV"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen class="mt-5"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <h1><i class="bi bi-egg-fried"></i> Como hacer un bizcocho de naranja</h1>
                <div class="row">
                    <div class="col">
                        <ol>
                            <li>
                                Precalentar el horno a 180 grados.
                            </li>
                            <li>
                                En un bol grande, batir los huevos con el azúcar hasta obtener una mezcla espumosa.
                            </li>
                            <li>
                                Añadir el aceite, el jugo de naranja y la ralladura de naranja y mezclar bien hasta
                                integrar.
                            </li>
                            <li>
                                Añadir la harina tamizada y la levadura en polvo y mezclar suavemente hasta que quede
                                homogéneo.
                            </li>
                            <li>
                                Enmantecar y enharinar un molde para bizcochos (22 cm aprox.) y verter la mezcla.
                            </li>
                            <li>
                                Hornear durante 35-45 minutos o hasta que el bizcocho esté doradito y firme al tacto.
                                Dejar enfriar completamente antes de desmoldar y servir.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="card-img-top mt-5 mb-2" src="./../../../../assets/biznaranja.jpg" alt="Card image cap">
                        <br>
                        <a href="https://www.paulinacocina.net/bizcocho-de-naranja/30446" id="btn-paulina" class="btn btn-success btn-block"><i class="bi bi-google-play"></i> Ir a Paulina Cocina</a>
                    </div>
                    <div class="col">
                        <h3><i class="bi bi-egg-fill"></i> Ingredientes: </h3>
                        <table class="table dark-table text-white">
                            <thead>
                                <tr>
                                    <th>
                                        Ingrediente
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Huevos</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Azúcar</td>
                                    <td>200 g</td>
                                </tr>
                                <tr>
                                    <td>Aceite de girasol</td>
                                    <td>100 ml</td>
                                </tr>
                                <tr>
                                    <td>Harina</td>
                                    <td>250 g</td>
                                </tr>
                                <tr>
                                    <td>Polvo de hornear o leudante</td>
                                    <td>1 cucharada</td>
                                </tr>
                                <tr>
                                    <td>Jugo de naranja</td>
                                    <td>120 ml</td>
                                </tr>
                                <tr>
                                    <td>Ralladura</td>
                                    <td>1 naranja</td>
                                </tr>
                                <tr>
                                    <td>Manteca</td>
                                    <td>Enmantecar el molde</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>