.navbar {
    padding: .5rem 7rem !important;
    min-height: 80px !important;
    font-size: 20px;
    color: black !important;
    background-color: lightgray !important;
    font-weight: bolder !important;
    border-bottom: 1px solid black;
}

.navbar > * {
    color: black !important;
}

.navbar-brand, .nav-link  {
    color: black !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap !important;
        justify-content: space-between !important;
    }

    .navbar-collapse {
        flex-grow: 0 !important;
    }
}

.btn {
    appearance: none !important;
    background-color: transparent !important;
    border: 2px solid #1A1A1A !important;
    border-radius: 15px !important;
    box-sizing: border-box !important;
    color: #3B3B3B !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: normal !important;
    margin: 0 !important;
    min-height: 60px !important;
    min-width: 0 !important;
    outline: none !important;
    padding: 16px 24px !important;
    text-align: center !important;
    text-decoration: none !important;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1) !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    width: 100% !important;
    will-change: transform !important;
}

.btn:disabled {
    pointer-events: none !important;
}

.btn:hover {
    color: #fff !important;
    background-color: #1A1A1A !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px !important;
    transform: translateY(-2px) !important;
}

.btn:active {
    box-shadow: none !important;
    transform: translateY(0) !important;
}

footer{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}