li {
    list-style: none;
    font-weight: bolder;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: black;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.footer-social-list li {
    margin: 0.5rem;
    font-size: 2rem;
}


.footer-items {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.footer-copyrigth li {
    margin: auto;
    font-size: 1rem;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: auto;
}